{% extends 'inner-page.html' %}
{% load static %}
{% load i18n %}


{% block inner_content %}
    <div class="alert alert-success text-center mt-3" role="alert">
        <h4 class="alert-heading">{% trans 'Well done!' %}</h4>
        <p>
            {% blocktrans %}
                Aww yeah, you successfully read this important alert message. This example text is going to run a bit
                longer
                so that you can see how spacing within an alert works with this kind of content.
            {% endblocktrans %}
        </p>
        <hr>
        <p class="mb-0">
            {% blocktrans %}
                Whenever you need to, be sure to use margin utilities to keep things nice and tidy.
            {% endblocktrans %}
        </p>
    </div>

    <a href="{% url 'home' %}" class="btn btn-secondary">{% trans 'Back to home page' %}</a>
{% endblock %}